<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.Safari.plist</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/System/Library/Preferences/com.apple.Safari.plist</string>
	<key>Label</key>
	<string>com.apple.Safari.plist</string>
	<key>AutoOpenSafeDownloads</key>
	<false/>
	
</dict>
</plist>
